<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="overlay">
    <img src="/img/Logo.png" alt="WatchVault Logo" class="logo">
    <h1> Account Login </h1>
    <hr>
    <div id="loginDisplay">

        <form method="POST" action="/login">
            Username:
            <input type="text" name="username"><br><br>
            Password:
            <input type="password" name="password">
            <br>
            <p>Don't have an account? <a href="/signup">Sign up</a></p>

            <span id="error">
                <% if (typeof(error) != "undefined") { %>
                    <%= error %>
                <% } %>
            </span>
            <br>
            

            <button>Login</button>
        </form>
        <br>

    </div>
    </div>

    <br>

    <div id="loginDescription">
        <p> Welcome to WatchVault – your all-in-one hub for tracking what you watch. </p>
        <p> Log your favorite movies and TV shows, keep a personal watchlist, and never lose track of what you’ve seen. </p>
        <p> You can also search for any movie or show to instantly view detailed information, from cast to ratings. Whether you binge or browse, WatchVault helps you stay organized and entertained. </p>
    </div>

    <br><hr>
</body>
</html>