<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div id="signupDisplay">

        <h1>Create Account</h1>

        <form action="/signup" method="POST">
            Username:
            <input type="text" name="username" required> <br><br>
            Password:
            <input type="password" name="password" required> <br><br>

            Re-enter Password:
            <input type="password" name="password2" required> <br>

            <br>
            <% if (typeof(error) != "undefined") { %>
                <span id="error"><%= error %></span>
            <% } %>


            
            <p>Already have an account? <a href="/">Login here</a></p>
            <br><br>

            <button type="submit">Create Account</button>

        

        </form>

    </div>

</body>
</html>